/*Colores*/
/*Fuentes*/
.heading-h1 {
  font-size: 1.2rem;
  font-family: "Spectral SC"; }

.heading-h2 {
  font-size: 1.1rem;
  font-family: "Spectral SC"; }

.heading-h3 {
  font-size: 1rem;
  font-family: "Spectral SC"; }

.heading-h4 {
  font-size: 0.9rem;
  font-family: "Spectral SC"; }

.links, .links-foot {
  text-decoration: none;
  color: #f7f0f0;
  font-family: "Times New Roman";
  font-size: 0.9rem; }

.links-foot {
  display: inline;
  text-decoration: none; }

img {
  width: 100%;
  padding: 5px; }

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f0f0; }

.logo img {
  width: 300px;
  text-align: center;
  display: flex;
  justify-self: center;
  transform: scale(1);
  transition: all .2s ease-in-out; }
  .logo img:hover {
    transform: scale(0.8); }

nav {
  grid-area: nav;
  color: #cba4a4; }

.navbar-light {
  background-color: #cba4a4 !important; }

.nav-link {
  color: #f7f0f0 !important;
  font-family: "Spectral SC";
  font-weight: 800;
  text-align: center; }

.container-fluid button {
  color: #f7f0f0 !important; }

#navbarNav {
  justify-content: center; }

footer {
  grid-area: footer;
  background-color: #a37e70;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 20px;
  color: #f7f0f0;
  font-family: 'Times New Roman', Times, serif; }
  footer .foot-nav {
    padding: 10px; }
    footer .foot-nav li {
      text-decoration: none;
      color: #f7f0f0;
      font-family: 'Times New Roman', Times, serif;
      font-size: 0.9rem; }
      footer .foot-nav li a {
        color: #f7f0f0;
        display: inline;
        text-decoration: none;
        font-size: 0.9rem; }
  footer .info {
    padding: 10px; }
    footer .info .lista-info span {
      font-weight: bolder;
      padding-top: 10px;
      padding-bottom: 10px; }
    footer .info .lista-info p {
      color: #f7f0f0;
      font-size: 0.9rem; }
  footer .texto-seguinos {
    padding: 10px;
    text-align: center;
    color: #f7f0f0;
    font-size: 0.9rem; }
  footer .icons-footer {
    display: flex;
    justify-content: center; }
    footer .icons-footer img {
      width: 45px;
      padding: 10px;
      padding-top: 0px; }
  footer .pie-pagina {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px; }
    footer .pie-pagina a {
      color: #f7f0f0;
      font-size: 0.8rem; }

main {
  grid-area: main;
  margin: 0;
  text-align: center; }

.banner {
  background-image: url(../imagenes/head.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: auto;
  padding: 0;
  position: relative;
  background-size: 200%;
  animation: mov 12s infinite linear alternate;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; }

@keyframes mov {
  0% {
    background-position: bottom left; }
  100% {
    background-position: top right; } }
  .banner .button {
    text-align: left; }
  .banner .capa-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f7f0f0;
    background: -moz-linear-gradient(68deg, #f7f0f0 0%, #e5c2c1 55%, #cba4a4 84%, #a37e70 100%);
    background: -webkit-linear-gradient(68deg, #f7f0f0 0%, #e5c2c1 55%, #cba4a4 84%, #a37e70 100%);
    background: linear-gradient(68deg, #f7f0f0 0%, #e5c2c1 55%, #cba4a4 84%, #a37e70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f2f2",endColorstr="$color-fonts",GradientType=1);
    opacity: 0.6; }
  .banner .banner-details {
    width: 100%;
    max-width: 1440px;
    position: relative;
    margin: auto; }
    .banner .banner-details .details {
      width: 100%;
      max-width: 400px;
      color: #a37e70;
      -webkit-text-stroke: 1px #a37e70;
      padding: 20px0; }
      .banner .banner-details .details .banner-title {
        font-size: 1.3rem;
        font-family: "Spectral SC";
        font-weight: 800;
        -webkit-text-stroke: 1px #a37e70; }
      .banner .banner-details .details .banner-text {
        font-family: "Times New Roman";
        font-weight: 500;
        font-size: 1.1rem;
        padding-bottom: 5px; }
      .banner .banner-details .details .btn {
        color: #a37e70;
        border: #a37e70; }

.sobre-laspino {
  background-color: #dfc9c8;
  color: #a37e70;
  font-family: "Spectral SC";
  font-weight: 500;
  font-size: 0.8rem;
  text-align: start;
  padding: 20px;
  margin-top: 30px; }
  .sobre-laspino .sobre-laspino-uno {
    padding-bottom: 10px; }

.main-title {
  color: #a37e70;
  font-family: "Spectral SC";
  font-weight: 800;
  font-size: 1.2rem;
  padding: 20px;
  text-align: center; }

.container-productos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px; }
  .container-productos img {
    width: 100%; }
  .container-productos .productos-uno {
    display: flex;
    flex-direction: column; }
  .container-productos .container-productos-text {
    padding: 15px; }
    .container-productos .container-productos-text a {
      color: #a37e70;
      font-family: "Spectral SC";
      font-weight: 500;
      font-size: 1rem;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      position: relative;
      transition: all 300ms ease-in-out; }
      .container-productos .container-productos-text a:hover {
        color: #f7f0f0;
        background-color: #cba4a4;
        opacity: 0.8; }

.suscripcion {
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: #a37e70;
  font-family: "Times New Roman";
  border: solid;
  border-color: #dfc9c8;
  border-style: dotted;
  font-size: 0.8rem; }
  .suscripcion p {
    font-family: "Times New Roman";
    font-size: 0.8rem; }
  .suscripcion input {
    border: solid 1px #f7f0f0;
    color: #a37e70;
    font-size: 0.8rem; }
  .suscripcion .boton-suscribirme {
    background-color: #e5c2c1;
    font-size: 0.8rem; }

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: flex-start;
  margin: 20px; }
  .sobre-nosotros .sobre-nosotros-texto p {
    font-family: "Spectral SC";
    font-size: 0.7rem;
    color: #a37e70;
    font-weight: 700;
    font-style: oblique;
    padding: 10px; }
  .sobre-nosotros iframe {
    width: 100%; }

h2 {
  color: #a37e70;
  font-family: "Spectral SC";
  font-weight: 800;
  font-size: 1.1rem;
  padding: 10px;
  text-align: center; }

.eleginos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .eleginos .eleginos-razon-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .eleginos .eleginos-razon-uno p {
      padding: 10px;
      text-align: start;
      color: #a37e70;
      font-family: "Spectral SC";
      font-weight: 700;
      font-size: 0.8rem; }
  .eleginos .eleginos-razon-dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
    .eleginos .eleginos-razon-dos p {
      padding: 10px;
      text-align: start;
      color: #a37e70;
      font-family: "Spectral SC";
      font-weight: 700;
      font-size: 0.8rem; }

.carrousel-img {
  margin-top: 20px;
  padding-bottom: 20px; }

.main-products img {
  width: 100%; }

.main-products h3 {
  padding: 10px;
  margin: 10px 0;
  background-color: #e5c2c1;
  color: #f7f0f0;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Spectral SC"; }

.main-products p {
  padding: 10px;
  color: #a37e70;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0; }

.contenedor-contacto {
  background-image: url("../imagenes/pines.png"); }
  .contenedor-contacto h3 {
    padding: 10px;
    margin: 10px 0;
    background-color: #e5c2c1;
    color: #f7f0f0;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Spectral SC"; }
  .contenedor-contacto label {
    font-size: 0.9rem;
    font-family: "Times New Roman";
    color: #f7f0f0;
    background-color: #cba4a4;
    font-weight: 700;
    padding: auto;
    margin: 10px; }
  .contenedor-contacto input {
    margin: 10px;
    font-size: 0.9rem;
    font-family: "Times New Roman";
    border: solid 2px #cba4a4;
    width: 200px; }
  .contenedor-contacto .form-check .form-check-input {
    float: none;
    width: 20px; }
  .contenedor-contacto .contenedor-contactanos .contactanos-text {
    background-color: #cba4a4; }
    .contenedor-contacto .contenedor-contactanos .contactanos-text p {
      font-size: 0.9rem;
      font-family: "Times New Roman";
      color: #f7f0f0;
      font-weight: 700; }
    .contenedor-contacto .contenedor-contactanos .contactanos-text iframe {
      width: 100%; }

.preguntas {
  text-align: left; }
  .preguntas span {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #f7f0f0;
    background-color: #cba4a4;
    font-weight: 800;
    padding: auto;
    margin: 10px; }
  .preguntas p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #a37e70;
    font-weight: 500;
    padding: 20px; }

.cards-ayuda .card {
  align-items: center; }
  .cards-ayuda .card .card-text {
    font-family: "Times New Roman";
    font-weight: 300;
    font-size: 1.1rem;
    color: #a37e70; }

.cards-ayuda .card-group {
  margin: 30px 10px;
  text-align: center; }
  .cards-ayuda .card-group div {
    text-align: center;
    border: none; }
  .cards-ayuda .card-group img {
    width: 80px;
    text-align: center; }

@media screen and (min-width: 768px) {
  /* Media queries index */
  .logo img {
    width: 400px; }
  .main-title {
    font-size: 1.1rem; }
  .sobre-laspino {
    font-size: 0.9rem;
    text-align: start;
    padding: 20px; }
    .sobre-laspino .sobre-laspino-uno {
      padding-bottom: 10px; }
  .container-productos {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    padding: 10; }
    .container-productos img {
      padding: 10px;
      width: 90%; }
    .container-productos .productos-uno {
      text-align: center; }
    .container-productos .productos-dos {
      text-align: center; }
  .suscripcion p {
    font-size: 0.9rem; }
  .suscripcion input {
    text-align: center;
    width: 150px;
    height: auto;
    font-size: 0.9rem; }
  .suscripcion .boton-suscribirme {
    background-color: #e5c2c1;
    font-size: 0.8rem; }
  footer {
    font-size: 0.9rem; }
    footer .icons-footer img {
      width: 50px; }
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; }
    .sobre-nosotros p {
      font-size: 0.9rem;
      padding: 10px; }
  h2 {
    color: #a37e70;
    font-family: "Spectral SC";
    font-weight: 800;
    font-size: 1rem;
    padding: 20px;
    text-align: center; }
  .eleginos {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .eleginos .eleginos-razon-uno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .eleginos .eleginos-razon-uno p {
        padding: 10px;
        text-align: start;
        font-size: 1rem; }
    .eleginos .eleginos-razon-dos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 50%; }
      .eleginos .eleginos-razon-dos p {
        padding: 10px;
        font-size: 1rem; }
  h3 {
    padding: 10px;
    margin: 10px 0;
    background-color: #e5c2c1;
    color: #f7f0f0;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Spectral SC"; }
  .main-products p {
    padding: 10px;
    color: #a37e70;
    font-family: "Times New Roman";
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0; } }

@media screen and (min-width: 1024px) {
  .logo img {
    width: 400px; }
  .sobre-laspino {
    font-size: 1.2rem;
    text-align: start;
    padding: 20px;
    margin-top: 50px; }
  .banner {
    text-align: center;
    width: 100%;
    height: 400px;
    background-image: url(../imagenes/head.jpg);
    background-size: 150%;
    animation: mov 15s infinite linear alternate;
    background-repeat: no-repeat; }
  @keyframes mov {
    0% {
      background-position: bottom right; }
    100% {
      background-position: top left; } }
  .sobre-laspino-uno {
    padding-bottom: 10px; }
  .main-title {
    font-size: 1.4rem;
    margin: 10px; }
  .container-productos img {
    padding: 10px;
    width: 95%; }
  .container-productos p {
    font-size: 1.2rem; }
  .suscripcion p {
    font-family: "Times New Roman";
    font-size: 1.2rem; }
  .suscripcion input {
    border: solid 1px #f7f0f0;
    color: #a37e70;
    font-size: 1.1rem; }
  .suscripcion .boton-suscribirme {
    background-color: #e5c2c1;
    font-size: 1.1rem; }
  footer {
    font-size: 1rem; }
  .contenedor-footer {
    display: flex;
    justify-content: space-around; }
  .icons-footer img {
    width: 60px; }
  .pie-pagina a {
    font-size: 1rem; }
  .sobre-nosotros {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: flex-start;
    justify-items: center; }
    .sobre-nosotros .sobre-nosotros-texto {
      text-align: left;
      width: 50%; }
      .sobre-nosotros .sobre-nosotros-texto p {
        font-size: 1.1rem; }
      .sobre-nosotros .sobre-nosotros-texto .sobre-nosotros-video {
        width: 50%; }
        .sobre-nosotros .sobre-nosotros-texto .sobre-nosotros-video iframe {
          width: 100%; }
  h2 {
    color: #a37e70;
    font-family: "Spectral SC";
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center; }
  .eleginos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; }
    .eleginos .eleginos-razon-uno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%; }
      .eleginos .eleginos-razon-uno .eleginos-razon-uno p {
        padding: 10px;
        text-align: start;
        color: #a37e70;
        font-family: "Spectral SC";
        font-weight: 700;
        font-size: 1rem; }
    .eleginos .eleginos-razon-dos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 50%; }
      .eleginos .eleginos-razon-dos p {
        padding: 10px;
        text-align: start;
        color: #a37e70;
        font-family: "Spectral SC";
        font-weight: 700;
        font-size: 1rem; }
  .suscripcion p {
    font-size: 1rem; }
  .suscripcion input {
    text-align: center;
    width: 200px;
    height: auto;
    font-size: 1rem; } }

.comentario p {
  font-size: 1.2rem;
  font-family: "Times New Roman";
  color: #a37e70;
  font-weight: 700;
  padding: 20px;
  padding-top: 10px; }

@media screen and (min-width: 1440px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px; }
    .main-wrapper .logo img {
      width: 90%; }
    .main-wrapper .sobre-laspino {
      font-size: 1.2rem; }
      .main-wrapper .sobre-laspino .sobre-laspino-uno {
        padding-bottom: 15px; }
    .main-wrapper .main-title {
      font-size: 1.5rem;
      font-family: "Spectral SC"; }
    .main-wrapper .container-productos {
      display: flex;
      justify-content: center; }
      .main-wrapper .container-productos p {
        font-size: 1.2rem; }
      .main-wrapper .container-productos img {
        padding: 30px;
        width: 95%; }
    .main-wrapper .suscripcion p {
      font-size: 1.2rem; }
    .main-wrapper .suscripcion input {
      text-align: center;
      width: 300px;
      height: auto;
      font-size: 1rem; }
    .main-wrapper footer {
      font-size: 1.2rem; }
    .main-wrapper .lista-info li {
      font-size: 1.2rem; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

li {
  text-decoration: none; }

body {
  background-color: #f7f0f0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0; }

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "main" "footer";
  margin: auto; }
