//Extend
.preguntas{
    text-align: left;
    font-size: 1rem;
    font-family: $font-p;
}
.pregunta-ayuda{
    @extend .preguntas;
    color: $color-primary;
    background-color: $color-secondary;
    font-weight: 800;
    padding: auto;
    margin: 10px;
}
.respuesta-ayuda{
    @extend .preguntas;
    color: $color-fonts;
    font-weight: 500;
    padding: 20px;
}