header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

.logo {
    img{
    width: 300px; 
    text-align: center;
    display: flex;
    justify-self: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
    &:hover {
    transform: scale(0.8);
        }
    }
}


