
.contenedor-contacto{
    background-image: url("../imagenes/pines.png");
    h3{
        padding: 10px ;
        margin: 10px 0;
        background-color: $color-tertiary;
        color: $color-primary;
        font-size: 1rem;
        font-weight: 800;
        font-family: $font-title;
    }
        label{
        font-size: 0.9rem;
        font-family: $font-p;
        color:$color-primary;
        background-color: $color-secondary;
        font-weight: 700;
        padding: auto;
        margin: 10px;

        }
    input{
        margin: 10px;
        font-size: 0.9rem;
        font-family: $font-p;
        border:solid 2px $color-secondary;
        width: 200px;
    }
    .form-check {
        .form-check-input{
            float: none;
            width: 20px;
            height: 20px;
            &:checked{
                background-color: $color-secondary;
                border-color: $color-secondary;
            }
        }
    }
    .btn-light{
        color: $color-fonts;
    }
    .contenedor-contactanos{
        .contactanos-text{
            background-color: $color-secondary;
                p{
                    font-size: 1rem;
                    font-family: $font-p;
                    color:$color-primary;

                    font-weight: 700;
                }
                iframe{
                    width: 100%;
                }
        }
    }
}

