
//Estilos seccion 2
.cards-ayuda{
    .card{
        align-items: center;
        .card-text{
            font-family: $font-p;
            font-weight: 300;
            font-size: 1.1rem;
            color:$color-fonts;
        }
    }
    .card-group{
        margin: 30px 10px;
        text-align: center;
        div{
            text-align: center;
            border: none;
        }
        img{
            width: 80px;
            text-align: center;
        }
    }
}
