//Estilos seccion 1


.sobre-nosotros{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "texto"
    "video";
    padding-bottom: 10px;
    justify-content: flex-start;
    margin: 20px;

    .sobre-nosotros-texto {
        grid-area: texto;
            p{
                font-family: $font-title;
                font-size: 0.7rem;
                color: $color-fonts;
                font-weight: 700;
                font-style: oblique;
                padding: 10px;
            }
    }
    .sobre-nosotros-video{
        grid-area: video;
        iframe{
        width: 100%;
    }
    }
}

.heading-h2{
    color: $color-fonts;
    font-family: $font-title;
    font-weight:800 ;
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
}
//Estilos seccion 2

.eleginos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

        .eleginos-razon-uno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            p{
                padding: 10px;
                text-align: start;
                color: $color-fonts;
                font-family: $font-title;
                font-weight:700 ;
                font-size: 0.8rem;
            }
    }
    .eleginos-razon-dos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
            p{
                padding: 10px;
                text-align: start;
                color: $color-fonts;
                font-family: $font-title;
                font-weight:700 ;
                font-size: 0.8rem;
            }
    }
}


