//Maps
$headings: (
    h1:1.2rem,
    h2: 1.1rem,
    h3: 1rem,
    h4:0.9rem
);

@each $heading, $size in $headings {
    .heading-#{$heading} {
        font-size: $size;
        font-family: $font-title;
    }
}